.navbarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-image: url('../../img/background.jpg');
  background-size: cover; 
  background-position: center;
  z-index: -1000;
}

.navbarOverlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: -1;
}

.titleAndFilter {
  display: flex;
  gap: 25px;
  align-items: center;
}

.avatarContainer {
  display: flex;
  align-items: center; 
  position: relative;
  top: -5px;
}

.avatar-padding {
  padding: 10px;
}

.userData {
  margin-left: 10px; 
  font-size: 16px; 
}

.search {
  margin-left: 25px;
}